:root {
  --dark: #333;
  --light: #f5f5f5; 
  --color60: #d6d3f0;
  --color30: #5c7aff;
  --color10: #07004D;
}
* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&family=Ubuntu:wght@300&display=swap');

.bc-dark {
  background-color: var(--dark);
}
.bc-light {
  background-color: var(--light);
}
.t-dark {
  color: var(--dark);
}
.t-light {
  color: var(--light);
}
.t-10 {
  color: var(--color10);
}
.t-30 {
  color: var(--color30);
}
nav {
  width: 100%;
}
nav , header.d-flex, .content-container-body, .content-container  {
  min-width: 320px;
}
.shadowed {
  box-shadow: 0 0 3px #333333ad;
}
.text-shadowed-dark {
  text-shadow: 0px 0px 8px black;
}

/*                                              Header */
/*                                              Header */
/*                                              Header */
/*                                              Header */
/*                                              Header */
/*                                              Header */

header {
  height: 50vh;
  background-image: url(img/Halo\ Blue.jpg);
  background-size: cover;
  position: relative;
}
a.brand{
  border-radius: 10px;
}
.header-top {
  justify-content: space-between;
  max-width: 991px;
  padding-right: 30px;
  position: sticky;
  top: 0;

}
.header-top a:hover {
  position: relative;
  top: 1px;
}
a.brand img {
  width: 10rem;

}
.sign a {
  text-decoration: none;
}
.signin {
  padding: 0 1rem;
  border: 0;
}
.signin:hover {
  position: relative;
  top: 1px;
  left: 1px;
}
.signup {
  background-color: var(--color10);
  padding: 3px 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(16, 16, 41) ;

}
.signup:hover {
  box-shadow: 3px 3px 3px rgb(16, 16, 41) ;
  position: relative;
  top: 1px;
  left: 1px;
}

@media (max-width: 991px) {
  .sign,.signup, .signin{
    display: none;
  }
  .header-top a.brand{
    display: none;
  }
  nav {
    justify-content: center;
  }

}
/*                                              Header end */
/*                                              Header end */
/*                                              Header end */
/*                                              Header end */
/*                                              Header end */


/*                                                  navbar */
/*                                                  navbar */
/*                                                  navbar */
/*                                                  navbar */
/*                                                  navbar */
.navbar-body {
  width: clamp(320px,100%,100%);
  background-color: var(--color60);
  height: 4rem;
  position: sticky;
  top: 0;

}
nav {
  top: 0;
  max-width: 991px;
}
.nav-item a:hover {
  position: relative;
  top: 1px;
}
nav a.brand img{
  width: 7rem;
  position: relative;
  top: 3px;
}
ul.nav-list {
  list-style-type: none;
}
.nav-sign a {
  text-decoration: none;
}
.nav-signin {
  padding-right:1rem;
}
.nav-signin:hover {
  position: relative;
  top: 1px;
  left: 1px;
}
.nav-signup {
  background-color: var(--color10);
  padding: 3px 20px;
  border-radius: 15px;

}
.nav-signup:hover {
  position: relative;
  top: 1px;
  left: 1px;
}
.form-control:focus {
  color: #212529;
  background-color: #ffffff70;
  border-color: #86b7fe;
  outline: none;
  box-shadow: none !important;
}

.search-button {
  border: 0;
  background-color: var(--color10);
  border-radius: 10px;
}
.search-button:hover {
  position: relative;
  top: 1px;
}
@media (min-width: 991px) {
  nav a.brand {
    display: none;
  }
  .nav-sign , .nav-signin, .nav-signup {
    display: none;
  }
}
/*                                               navbar end */
/*                                               navbar end */
/*                                               navbar end */
/*                                               navbar end */
/*                                               navbar end */
.content-container-body {
  width: clamp(320px , 100% , 100%);
  justify-content: center;
  width: 100%;
  background-color: var(--color60);
}
.content-container {
  padding: 3rem 0;
  width: clamp(320px , 992px, 992px);
  justify-content: center;  
  background-image: linear-gradient(var(--color60),#3333332a,var(--color60));
}
.voting {
  width: clamp(320px, 90%,90%);
  flex-direction: column;
}
.voting-sub-header {
  padding: 10px ;
  font-size: 30px;
  font-family: 'Merriweather', serif;
  text-align: center;
  background-color: var(--color10);
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.voting-search-bar {
  background-color: var(--color30);
  justify-content: center;
  padding: 10px;
  width: 100%;
}
.voting-search-bar input {
  margin-right: 10px;
  border: 0;
  border-radius: 5px;
}
.voting-search-bar input:focus {
  outline: 0;
}
.voting-search-bar button {
  border: 0;
  border-radius: 5px;
  background-color: var(--color10);
}
.voting-content {
  padding: 0 10px 0 10px;
  background-color: var(--color30);

}
.content {
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
  height: 200px;
  width: 100%;
  background-color: red;
}
.content button {
  border: 0;
  background-color: transparent;
}
.content button:hover {
  position: relative;
  top: 2px;
}
.voting-content-first {
  width: 50%;
  margin-right: 10px;
}
.voting-content-second {
  width: 50%;
}
.title-dev {
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}
.title {
  text-align: center;
  font-size: 30px;
}
i.fa-solid.fa-circle-arrow-up {
  
  font-size: 2rem;
  color: var(--light);
}
.i.fa-solid.fa-circle-arrow-up:hover {
  position: relative;
  top: 1px;
}
.voting-content1 {
  background-image: linear-gradient(to right,#333333c7,transparent,transparent) , url(img/elden-ring-limgrave-vista.jpg);
  background-size: cover;
}
.voting-content2{
  background-image: linear-gradient(to right,#333333c5,transparent,transparent) , url(img/GOW\ ragnarok.webp);
  background-size: cover;
}
.voting-content3{
  background-image: linear-gradient(to right,#333333c5,transparent,transparent) , url(img/zelda-tears-of-the-kingdom-button-2k-1663127818777.jpg);
  background-size: cover;
}
.voting-content4 {
  background-image: linear-gradient(to right,#333333c5,transparent,transparent) , url(img/FFXVI.webp);
  background-size: cover;
}
.voting-content5 {
  background-image: linear-gradient(to right,#333333c5,transparent,transparent) , url(img/Diablo-4-6.jpg);
  background-size: cover;
}
.voting-content6 {
  background-image: linear-gradient(to right,#333333c5,transparent,transparent) , url(img/starfield.jpg);
  background-size: cover;
}
.voting-content7 {
  background-image: linear-gradient(to right,#333333c5,transparent,transparent) , url(img/hogwarts\ legacy.jpg);
  background-size: cover;
}
.voting-content8 {
  background-image: linear-gradient(to right,#333333c5,transparent,transparent) , url(img/vampire\ survivors.webp);
  background-size: cover;
}
.voting-content9 {
  background-image: linear-gradient(to right,#333333c5,transparent,transparent) , url(img/marvel\ snap.webp);
  background-size: cover;
}
.voting-content10 {
  background-image: linear-gradient(to right,#333333c5,transparent,transparent) , url(img/citizen\ sleeper.webp);
  background-size: cover;
}
@media (width <= 992px) {
  .voting-content {
    flex-direction: column;
  }
  .voting-content-first {
    margin-right: 0;
    width: 100%;
  }
  .voting-content-second {
    width: 100%;
  }
}


/*                                                      footer */
/*                                                      footer */
/*                                                      footer */
/*                                                      footer */
.footer-body {
  width: clamp(320px,100%, 100%);
  background-color: var(--color60);
}
footer {
  background-image: linear-gradient(var(--color60),#33333313,var(--color60));
  width: clamp(320px,992px, 992px);
  height: 100%;
}
.footer-top {
  width: 100%;
  height: 90%;
}
.footer-logo {
  width: 33.3333%;
}
.footer-logo img {
  width: 250px;
}
.footer-links {
  width: 33.3333%;
  padding: 2rem 0;
  justify-content: start;
}
.footer-links ul {
  list-style-type: none;
  padding: 0;

}
a.footer-brand {
  
  font-size: 60px;
  font-family: 'Merriweather', serif;

}
.footer-links a {
  text-decoration: none;
  color: var(--light);
}
.footer-links a:hover {
  color: var(--light);
  text-decoration: underline;
}
.contacts-socials{
  width: 33.3333%;
  justify-content: center;
  padding: 1rem 0;
}
.follow-us span {
  font-size: 25px;
}
.contact-us span {
  font-size: 25px;
}
.footer-socials {
  width: 10rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
a.socials i{
  font-size: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}
a.socials1 i {
  color: #2D86FF;
}
a.socials2 i {
  color:#1DA1F2;
}
a.socials3 i {
  color:  #000000;
}
a.socials4 i {
  color:  #BF1CCE;
}
a.socials5 i {
  color:  rgb(255,0,0);
}
a.socials6 i {
  color:  rgb(88,101,242);
}
a.socials7 i {
  color:  rgb(255,69,0);
}
a.socials8 i {
  color:  rgb(169,112,255);
}
.contact-us ul {
  list-style-type: none;
}
.contact-us li{
  color: var(--light);
}
.footer-bottom {
  width: 100%;
}
@media (max-width: 992px) {
  .footer-top {
    flex-direction: column;
    width: 100%;
  }
  .footer-logo {
    justify-content: center;
  }
  .footer-logo,.footer-links,.contacts-socials {
    align-items: center;
    width: 100%;
  }
}